.App {
  text-align: center;
  width: 500px;
  margin: 60px calc(50% - 250px);
  background-color: rgb(174, 191, 185);
  border-radius: 10px;
  padding: 10px 0 10px 0;
}
@media (max-width: 500px) {
  .App,
  .question-column > .question {
    width: 300px;
    margin: 30px calc(50% - 150px);
  }
  li.answer {
    width: 250px;
    margin: 5px calc(50% - 125px);
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .answer > .oneAnswer {
    width: 200px;
    padding: 0;
    flex-wrap: wrap;
  }
  .answer > .answer-letter {
    padding: 5px 15px;
    border: 2px solid rgb(63, 116, 116);
    margin-right: 3px;
  }
}
@media (max-width: 320px) {
  .App {
    width: 100%;
    margin: 0px;
  }
}
li {
  list-style: none;
  align-content: space-around;
  border: 3px solid rgb(63, 116, 116);
}
.question {
  flex-direction: row;
  width: 400px;
  margin: 0px calc(50% - 200px);
  font-weight: bolder;
}
.oneAnswer {
  flex-direction: row;
  width: 400px;
  text-align: left;
}
.answer {
  width: 400px;
  margin: 10px calc(50% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0 5px 0;
  letter-spacing: 1px;
}
.answer:hover {
  background-color: rgb(93, 158, 158);
  color: white;
}
.answer-letter {
  padding: 0 10px 0 10px;
  border: 2px solid rgb(63, 116, 116);
  border-radius: 50%;
  cursor: pointer;
  font-weight: bolder;
  color: rgb(68, 100, 100);
}
.answer-letter:hover {
  background-color: rgb(63, 116, 116);
  color: rgb(210, 238, 228);
  font-weight: bolder;
  z-index: 99;
}
.total {
  color: rgb(68, 110, 97);
  font-weight: bolder;
}
button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(68, 110, 97);
  color: #fff;
  border: transparent;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
button:hover {
  background-color: rgb(135, 166, 156);
  color: #282c34;
}
